/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-apr-2021, 10.14.51
    Author     : danie
*/

table {
border-collapse:collapse
}


#title{
   right: 300px;
   color: yellow;
   font-weight: 600;
   font-size: 370%;
   font-family: fantasy;

   text-shadow: 0 0 10px #fd9802,
                0 0 40px #fd9802,
                0 0 80px #fd9802,
                0 0 160px #fd9802,
                0 0 240px #fd9802;
}

#cronologia{
   position: absolute;
   right: 20px;
   top: 50px ;
   font-size: 130%;
   border-style: none;
   color: #D77206;
   
}
#Td01{
    border: 0px;
}
#Td02{
    border: 0px;   
}
#Th01{
    border-color: black;
}
#Th02{
    border-color: black;
}


@media only screen and (max-width: 768px){
    table{
        width: 90%;
    }
}

input {
    position: absolute;
    top: 85%;
    left: 47%;
    background: black;
    color: #fd9802;
}

#out{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#mosse{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#salva
{
    position: absolute;
    top: 56.3%;
    left: 52.1%;
    outline: none;
    box-shadow: none;
    margin-top:4%; 
    color: white; 
    padding: 10px 17px;
    border-color: #D77206;
    background: #E38916;
    background: linear-gradient(90deg,#D77206);
    transform: translate(5%, -1%);
    text-align: center;
    border-radius: 40px;
    background-size: 400%;
}

#salva:hover
{
  outline: none;
  box-shadow: none;
  animation: animate 8s linear  infinite;
}
@keyframes animate
 {
   0%
   {
     background-position: 0%;
   }
   100%
   {
     background-position: 400%;
   }
}



#salva:before
{
  outline: none;
  box-shadow: none;
  content: '';
  position: absolute;
  top: -5px;
  left:-5px;
  right: -5px;
  bottom: -5px;
  z-index: -1px;
  background: linear-gradient(90deg, #d58300, #e38e00, #f19900, #ffb11b, #ffbd2c, #ffc93b);
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
#salva:hover:before
{
  outline: none;
  box-shadow: none;
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

@media only screen and (max-width: 768px){
    salva{
        width: 90%;
    }
}

#reset
{
    outline: none;
    box-shadow: none;
    margin-top:4%; 
    color: white; 
    padding: 10px 17px;
    border-color: #D77206;
    background: #E38916;
    background: linear-gradient(90deg,#D77206);
    transform: translate(5%, -1%);
    text-align: center;
    border-radius: 40px;
    background-size: 400%;
}

#reset:hover
{
  outline: none;
  box-shadow: none;
  animation: animate 8s linear  infinite;
}
@keyframes animate
 {
   0%
   {
     background-position: 0%;
   }
   100%
   {
     background-position: 400%;
   }
}



#reset:before
{
  outline: none;
  box-shadow: none;
  content: '';
  position: absolute;
  top: -5px;
  left:-5px;
  right: -5px;
  bottom: -5px;
  z-index: -1px;
  background: linear-gradient(90deg, #d58300, #e38e00, #f19900, #ffb11b, #ffbd2c, #ffc93b);
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
#reset:hover:before
{
  outline: none;
  box-shadow: none;
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}


#btn1{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
}

#btn2{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn3{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn4{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn5{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn6{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn7{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn8{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

#btn9{
  background-color: #fd9802;
  padding: 40px 40px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 1px;
}

button:active {
  background-color: #8585ad;
  box-shadow: none;
  position: relative;
  top: 2px;

}

reset.button:hover { background: #8585ad; } /* cambio dello sfondo al passagio del mouse */
reset.button:active { background: #8585ad;} /* cambiare lo sfondo al premere bottone   */

td, th{
background-color: black;
border:5px solid #ddd;
padding:5px;
}

body
{
 display : flex;
 justify-content: center;
 align-items: center;
 min-height: 100px;
 background: black;
}

.text
{
  position: absolute;
  width: 100%;
  top: 10px;
  left:10px;
}

#Effect01 /*numero 1*/
{
   position: absolute;
   top: 5%;
   right: 16%;
   color: yellow;
   font-weight: 600;
   font-size: 150px;

   text-shadow: 0 0 10px #fd9802,
                0 0 40px #fd9802,
                0 0 80px #fd9802,
                0 0 160px #fd9802,
                0 0 240px #fd9802;
}

#Effect02 /* numero 2 */
{
   position: absolute;
   color: yellow;
   top: 5% ;
   left: 9% ;
   font-weight: 600;
   font-size: 150px;
   text-shadow: 0 0 10px #fd9802,
                0 0 40px #fd9802,
                0 0 80px #fd9802,
                0 0 160px #fd9802,
                0 0 240px #fd9802;
}

#Effect03 /*numero 3*/
{
  position: absolute;
  color: yellow;
  top: 255px ;
  right: 20% ;
  font-weight: 600;
  font-size: 150px;
  text-shadow: 0 0 10px #fd9802,
               0 0 40px #fd9802,
               0 0 80px #fd9802,
               0 0 160px #fd9802,
               0 0 240px #fd9802;
}
#Effect04 /*numero 4*/
{
  position: absolute;
  color: yellow;
  top: 255px;
  left: 18% ;
  font-weight: 600;
  font-size: 150px;
  text-shadow: 0 0 10px #fd9802,
               0 0 40px #fd9802,
               0 0 80px #fd9802,
               0 0 160px #fd9802,
               0 0 240px #fd9802;

}
#Effect05 /*numero 5*/
{
  position: absolute;
  color: yellow;
  top: 400px ;
  right: 5% ;
  font-weight: 600;
  font-size: 150px;
  text-shadow: 0 0 10px #fd9802,
               0 0 40px #fd9802,
               0 0 80px #fd9802,
               0 0 160px #fd9802,
               0 0 240px #fd9802;
}
#Effect06 /*numero 6*/
{
    position: absolute;
    color: yellow;
    top: 400px ;
    left: 5% ;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 0 0 10px #fd9802,
                 0 0 40px #fd9802,
                 0 0 80px #fd9802,
                 0 0 160px #fd9802,
                 0 0 240px #fd9802;
}


#Effect07 /* numero 7*/
{
   position: absolute;
   color: yellow;
   top: 550px ;
   right: 18% ;
   font-weight: 600;
   font-size: 150px;
   text-shadow: 0 0 10px #fd9802,
                0 0 40px #fd9802,
                0 0 80px #fd9802,
                0 0 160px #fd9802,
                0 0 240px #fd9802;
}
#Effect08 /* numero 8 */
{
   position: absolute;
   color: yellow;
   top: 550px ;
   left: 18% ;
   font-weight: 600;
   font-size: 150px;
   text-shadow: 0 0 10px #fd9802,
                0 0 40px #fd9802,
                0 0 80px #fd9802,
                0 0 160px #fd9802,
                0 0 240px #fd9802;
}